.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(168, 159, 159);
    align-items: center;
}

.title, .underT {
    text-align: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.button {
    background-color: rgb(77, 77, 124);
    color: white;
}

.image{
    display: flex;
    justify-content: center;
    
    
}
img{
    width: 500px;
    height: auto;
}