.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(168, 159, 159);
    align-items: center;
}

#title, .underT {
    text-align: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.button {
    background-color: rgb(77, 77, 124);
    color: white;
}

#img-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
#image{
    width: 500px;
    height: auto;
    margin-top: 50px;
    flex-shrink: 1;
}

.content{
    background-color:rgb(168, 159, 159);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information{
    font-family: sans-serif;
}

#tribute-info{
    font-size: 30px;
}